---
import NavbarLayout from "@/layouts/NavbarLayout.astro";
import { getImage } from "astro:assets";
import { getCollection, render } from "astro:content";
import BlogContent from "./_components/BlogContent.astro";

export async function getStaticPaths() {
    const blogPosts = await getCollection("blog", ({ data }) => {
        return data.publishedAt <= new Date();
    });
    return blogPosts.map((post) => ({
        params: { id: post.data.slug || post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);

const coverImage = post.data.coverImageUrl
    ? await getImage({
          src: post.data.coverImageUrl,
      })
    : null;
---

<NavbarLayout
    title={post.data.title}
    description={post.data.description}
    noindex={post.data.isIndexed === false}
    ogImageUrl={coverImage?.src}
>
    <article>
        <h1>{post.data.title}</h1>
        <p class="text-muted">
            {new Date(post.data.publishedAt).toLocaleDateString()}
        </p>
        <BlogContent Content={Content} />
    </article>
</NavbarLayout>
