---
const SITE_URL = import.meta.env.SITE_URL;
const BASE_PATH = import.meta.env.BASE_PATH || "/";

const {
    title,
    description = "Welcome to wisteriatp's portfolio website!",
    ogImageUrl = SITE_URL
        ? new URL("og.png", new URL(BASE_PATH, SITE_URL)).href
        : `${BASE_PATH}${BASE_PATH.endsWith("/") ? "" : "/"}og.png`,
    ...props
} = Astro.props;

const fullTitle = title ? `${title} - wisteriatp.work` : "wisteriatp.work";
---

<link rel="sitemap" href="/sitemap-index.xml" />
<title>{fullTitle}</title>
<link rel="favicon" href="/favicon.ico" />
<meta name="description" content={description} />

<meta property="og:title" content={fullTitle} />
<mata property="og:type" content="website"></mata>
<mata property="og:url" content={SITE_URL}></mata>
<mata property="og:description" content={description}></mata>
<meta property="og:image" content={ogImageUrl} />
